{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="OptimaList">
<head>
    <title>OptimaList</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "optimaList/content/main.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <header ng-include="'{% static "optimaList/includes/_header.html" %}'"></header>
    <div id="container">
        <div class="container" ng-view></div>
    </div>
    <footer ng-include="'{% static "optimaList/includes/_footer.html" %}'"></footer>
    <script src="{% static "optimaList/content/app.js" %}"></script>    
</body>
</html>