<div class="modal" style="display:block">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"  ng-click="groceryList = null">
                    <span class="glyphicon glyphicon-remove"></span>
                </button> <h2>Your OptimaList</h2> <p><em>
                    You can make
                    <span ng-repeat="rec in groceryList.recipes">
                        <a href="{{rec.Url}}">{{rec.name}}</a><span ng-if="!$last && groceryList.recipes.length > 2">,</span><span ng-if="$index == groceryList.recipes.length -2"> and</span>
                    </span>
                    with the following ingredients. if you want to remove these recipes
                    from your pool, just click the "delete" button at the bottom of the list.
                </em></p>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Amount(s)</th>
                    </tr>
                    <tr ng-repeat="(name, ing) in groceryList.ingredients">
                        <td>{{name}}</td>
                        <td>{{ing}}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="groceryList = null">
                    <span class="glyphicon glyphicon-remove"></span> Close
                </button>
                <button class="btn btn-danger" ng-click="removeRecipes()">
                    <span class="glyphicon glyphicon-trash"></span> Delete Recipes in List
                </button>
                <button class="btn btn-primary" ng-click="print()">
                    <span class="glyphicon glyphicon-print"></span> Print
                </button>
                <button class="btn btn-primary" ng-click="mail()">
                    <span class="glyphicon glyphicon-envelope"></span> Mail Yourself
                </button>
            </div>
        </div>
    </div>
</div>  