<div class="col-md-8 col-md-offset-2 splash">
	<div class="jumbotron">
	<h1 class="logo">OptimaList</h1>
	<p>
		Welcome! this site allows you to catalog
		recipes you want to make and then, when it is time to go shopping, 
		will generate an <span class="logo">OptimaList</span> of the fewest ingredients that will
		make the most recipes of yours by assessing overlapping ingredients.
	</p>
	<a href="#/register" id="register"><button class="btn btn-success btn-lg">It's easy, get started!</button></a>
</div>