<h2>Your Recipes</h2>

<table class="table table-striped">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Url</th>
        <th></th>
    </tr>
    <tr ng-repeat="recipe in recipes">
        <td>{{$index}}</td>
        <td><a href="#/recipes/{{recipe.ID}}">{{recipe.Name}}</a></td>
        <td>{{recipe.Url}}</td>
        <td>
            <button class="btn btn-danger" ng-click="deleteRecipe(recipe)">
                delete
            </button>
        </td>
    </tr>
</table>
    <button class="btn btn-primary" ng-click="showForm = !showForm">Add Recipe</button>
    <button class="btn btn-primary" ng-click="getList()">Make List</button>
    <add-form ng-show="showForm" />
</ul>
