<div class="row">
    <h2>Your Recipes <button class="btn btn-primary pull-right" ng-click="showForm = !showForm">Add Recipe</button></h2>
</div>
<div class="row">
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Url</th>
            <th></th>
        </tr>
        <tr ng-repeat="recipe in recipes">
            <td></td>
            <td><a href="#/recipes/{{recipe.ID}}">{{recipe.Name}}</a></td>
            <td><a class="btn btn-default" href="{{recipe.Url}}">link</a></td>
            <td>
                <button class="btn btn-danger" ng-click="deleteRecipe(recipe)">
                    delete
                </button>
            </td>
        </tr>
    </table>
</div>
<hr class="divider">
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group input-group-lg">
            <button class="btn btn-success form-control" ng-click="getList(num)">OptimaList</button>
            <span class="input-group-addon">for</span>
            <input type="number" ng-model="num" class="form-control">
            <span class="input-group-addon">ingredients</span>
        </div>
    </div>
</div>
<add-form ng-show="showForm"></add-form>
<grocery-list ng-show="groceryList"></grocery-list>
