<div class="col-md-4 col-md-offset-4">
	<form ng-submit="signup()">
        <h2 class="form-login-heading">Signup</h2>
		<div class="form-group">
		    <input class="form-control" type="text" placeholder="Email" ng-model="user.Email" />
		</div>
		<div class="form-group">
		    <input class="form-control" type="password" placeholder="Password" ng-model="user.Password" />
		</div>
		<div class="form-group">
		    <input class="form-control" type="password" placeholder="Confirm Password" ng-model="user.ConfirmPassword" />
		</div>
		<div class="form-group">
		    <button class="btn btn-info btn-block" type="submit">Register</button>
	    </div>
	</form>
</div>