$lg : #eee;
$dg : #666;
$brand : #5D86DE;

*{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.logo{
	font-family: 'Pacifico', cursive;
	color:$brand !important;
}

p{font-size: 1.2em}

.splash *{
	margin-bottom: 0.5em;
}

#register{
	display:block;
	button{
		margin:auto;
		display:block;
	}
}

.alert{
	margin-bottom: 0;
}

#recipeHeader{margin-bottom: 2rem;}


a, h1, h2, h3, h4, .navbar-brand{color:$brand;}
.btn-success, .btn-success:focus{background-color: $brand;border:none;}
.btn-success:hover,.btn-success:active{background-color: darken($brand, 10);border:none;}
#mainbtn{color:white !important;}
body{
	background: url('Images/linen.png');
}

#container{
	padding:20px 0;
	width:100%;
	margin-bottom: 60px;
}

@import "add-form";
@import "grocery-list";
@import "recipes";
@import "headerfooter";


#print{display:none}
@media print{
	body{display:none}
	#print{display: block;font-size: 1.5em}
}