*{
    box-sizing: border-box;
}

.alert{
	margin-bottom: 0;
}

#recipeHeader{margin-bottom: 2rem;}
footer{
	text-align: center;
	img{
		width: 2em;
	}
}

$lg : #eee;
$dg : #666;

@import "add-form";
@import "grocery-list";
@import "recipes";

body{
	// background: url('Images/gplay.png');
	
}

#print{display:none}
@media print{
	body{display:none}
	#print{display: block;font-size: 1.5em}
}