* {
  box-sizing: border-box; }

add-form .modal {
  background-color: rgba(0, 0, 0, 0.4); }

#print {
  display: none; }

@media print {
  body {
    display: none; }
  #print {
    display: block;
    font-size: 1.5em; } }
