* {
  box-sizing: border-box; }

.alert {
  margin-bottom: 0; }

#recipeHeader {
  margin-bottom: 2rem; }

footer {
  text-align: center; }
  footer img {
    width: 2em; }

add-form .modal {
  background-color: rgba(0, 0, 0, 0.4); }

#print {
  display: none; }

@media print {
  body {
    display: none; }
  #print {
    display: block;
    font-size: 1.5em; } }
