<h2>What is this?</h2>
<p>
	<span class="logo">Optimalist</span> is made to help make
	grocery shopping easier and more efficient. Whenever you
	find a recipe you want to make, oftentimes you will have to
	go shopping for just the ingredients of that recipe, which can
	be wasteful and expensive, since you will have to buy many of 
	the ingredients in larger quantity than the recipe calls for or
	buying ingredients in smaller quantity will cost more. You can add
	as many recipes as you want to <span class="logo">Optimalist</span>
	and then when you are ready to go shopping, the app will generate a 
	shopping list that combines common ingredients between recipes to 
	produce the smallest list of ingredients that can make the largest
	number of recipes. 
</p>

<h2>Adding Recipes</h2>
<p>
	A quick note on adding recipes: using the most common name for an
	ingredient will help when combining recipes and comparing ingredient names.
	The app does as best as it can to normalize ingredient names, so capitalization,
	plurality, and white space does not affect the matching ("Potato" is the same
	as "potatoes" or "__ _potatOes  "). However completely different words won't be
	counted as the same ingredient, so that "button mushrooms", "buttons", and 
	"mushrooms" will be 3 different ingredients, which will make your shopping
	list less optimal. Just keep this in mind while entering your ingredients.
</p>

<h2>Deleting Ingredients after making a list</h2>
<p>
	There is an option after generating an <span class="logo">OptimaList</span> to
	delete all of the recipes that were used to generate the list. This helps keep
	some variety in the recipes that will be generated as ones you have already use 
	will be eliminated, it also lets recipes that did not get matched have a better
	chance next time.
</p>