* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif; }

.logo {
  font-family: 'Pacifico', cursive;
  color: #5D86DE !important; }

p {
  font-size: 1.2em; }

.splash * {
  margin-bottom: 0.5em; }

#register {
  text-decoration: none;
  display: block; }
  #register button {
    margin: auto;
    display: block; }

.alert {
  margin-bottom: 0; }

#recipeHeader {
  margin-bottom: 2rem; }

a, h1, h2, h3, h4, .navbar-brand {
  color: #5D86DE; }

.btn-success, .btn-success:focus {
  background-color: #5D86DE;
  border: none; }

.btn-success:hover, .btn-success:active {
  background-color: #3366d5;
  border: none; }

#mainbtn {
  color: white !important; }

body {
  background: url('images/linen.png'); }

#container {
  padding: 20px 0;
  width: 100%;
  margin-bottom: 60px; }

add-form .modal {
  background-color: rgba(0, 0, 0, 0.4); }

table {
  font-size: 1.5em;
  border: 2px dashed #b2c5ef; }
  table tr:nth-child(even) {
    background-color: #fff; }

.navbar {
  margin-bottom: 0; }
  .navbar #navbar {
    border: none; }
  .navbar a, .navbar a.logo {
    font-size: 2em; }

footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 15px 0;
  background-color: #444;
  color: #b2c5ef;
  text-align: center; }
  footer img {
    width: 2em; }

#print {
  display: none; }

@media print {
  body {
    display: none; }
  #print {
    display: block;
    font-size: 1.5em; } }
